<head>
    <link href="../../static/css/glyphicons.css">
    <link href="../../static/css/mytrip.css">
    <link href="../../static/css/font-awesome.css">
    <link href="../../static/css/font-awesome.min.css">
    <link href="../../static/css/bootstrap.min.css">
</head>
{% extends "mytrip/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}


    {% if form.errors %}
        <br xmlns:align-content="http://www.w3.org/1999/xhtml" xmlns:align-content="http://www.w3.org/1999/xhtml"/>
    <!--<p>Your username and password didn't match. Please try again.</p>-->
    {% endif %}
    <section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
		        <h2 class="text-center">Login Here</h2>
                <form method="post" action="{% url 'login' %}">
                    <div class="form-group">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
                    <div class="form-check">
                        <div class="row">
                                    <button type="submit" class="btn btn-login" ><font color="black" >Login</font></button><br>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}"/>
                       <input type="hidden" name="next" value="{{ next }}">
                        <br>
                    </div>
                </form>
                        <div class="row">
                            <!--<div class="col-md-8 mx-auto social-container my-2 order-md-1">-->

                                <!--<button class="btn btn-danger  mb-2">-->
                        <a href="{% provider_login_url 'google' %}" class="btn btn-login" target="_blank"><font color="black" > Log In with Gmail</font></a>
                        <!--</button><br>-->
                            </div>
                                <br>
                        <div class="row">
                                 <!--<button class="btn btn-danger  mb-2">-->
                               <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-login" target="_blank"><font color="black"><b>Log In With Facebook </b></font></a>
                                 <!--</button> <br>-->
                        </div>
                                <br>
                        <div class="row">
                                 <!--<button class="btn btn-danger  mb-2">-->
                             <a href="{% url 'social:begin' 'instagram' %}" class="btn btn-login" target="_blank"><font color="black"><b>Login In With Instagram </b></font></a>
                                 <!--</button><br>-->
                        </div>
                                <br>

                <div class="row">
                        <button class="btn btn-login"><a style="color:#0C0B4D " href="{% url 'mytrip:password_reset' %}">Forgotten your password?</a></button>
                        </div>
                        <p style="color:darkred"> <b> If you don't have an account </b><a href="{% url 'mytrip:register' %}"><button type="submit" class="btn btn-login"><font color="black"> Sign Up Here</font></button></a></p>

                        </div>

        <!--<p><input type="submit" value="Login"/></p>-->


            	<div class="col-md-8 banner-sec">
 <div class="banner-text">
            <h2>Welcome to MyTripPlanner</h2>
                    <ul>
                        <li style="color: darkslateblue"><b>Plan</b></li>
                        <li style="color: darkslateblue"><b>Book</b></li>
                        <li style="color: darkslateblue"><b>Go</b></li>
                    </ul>
        </div>
                    <img class="d-block img-fluid" src="../../static/images/travel.gif" alt="First slide" width="100%" height="80%">

                </div>
		</div>
    </div>
</section>

{% endblock %}
