Brotli==1.0.7
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.0.5
django-allauth==0.39.1
django-crispy-forms==1.7.2
django-urls==1.0.8
djangorestframework==3.10.1
Faker==2.0.0
gunicorn==19.9.0
idna==2.7
oauthlib==3.0.2
PyJWT==2.4.0
PySocks==1.7.0
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
requests==2.19.1
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
text-unidecode==1.2
twilio==6.29.2
urllib3==1.23
whitenoise==4.1
Wikipedia-API==0.3.4
