{% extends 'mytrip/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #table-wrapper {
  position:relative;
    }
    #table-scroll {
      height:500px;
      overflow:auto;
      margin-top:20px;
    }
    #table-wrapper table {
      width:100%;

    }
    #table-wrapper table * {
      background:white;
      color:black;
    }
    #table-wrapper table thead th .text {
      position:absolute;
      top:-20px;
      z-index:2;
      height:20px;
      width:35%;
      border:1px solid red;
    }

    .date{
        width:200px;
    }
    .myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 1em;
padding: 0.5em;
border: 1px solid #ccc;
border-radius: 3px;
}

.myForm * {
box-sizing: border-box;
}

.myForm input {
border: 1px solid #ccc;
border-radius: 3px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.5em;
padding: 0.5em;
}
</style>
<br>
<br>


        <div class="container">

            <h2 class="text-center">Check for Accomodations</h2>
<br>

              <form method="POST">

                          {% csrf_token %}
        <div class="row">
            <br>
            <div class="col-md-1"></div>

            <div class="col-md-5">
                <h4><strong>Destination city</strong></h4>
                {{form.city}}
        </div>
        </div>
        <div class="row">
            <br>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h4><strong>Check-in Date</strong></h4>
                {{form.indate}}
        </div>

		<div class="col-md-3">
            <h4><strong>Check-out Date</strong></h4>
            {{form.outdate}}
        </div>
            <div class="col-md-3">
                <br>
                <br>
                <input type="submit" class="btn btn-login" style="width: 150px; height: 45px" name="Search" value="Search">
            </div>
        </div>
            <br>
            <br>
            {%if err == 'err'%}

            <div class="card" style="background: white">
            <br>
                <h4 class="text-center" style="color: red">{{error}}</h4>
                <br>
            </div>
                  {%endif%}

                    </form>

        <br>
            {%if th == 'th'%}

            <div class="card" style="background: white">
            <br>
                <h4 class="text-center" style="color: red">{{error}}</h4>
            <h4 class="text-center" style="color: red">{{msg}}</h4>
                <br>
            </div>
            <div id="table-wrapper">
          <div id="table-scroll">

<table class="table" style="background-color: white;">
    <thead>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Nights</th>
    <th>Area</th>
    <th>Anemities</th>
    <th>Rating</th>
    <th>total</th>
    </thead>

    {%for hotel_values in hotel_json%}
    <tbody>
    <td>{{start}}</td>
    <td>{{end}}</td>
    <td>{{hotel_values.nights}}</td>
    <td>
        {% for hotel_area in place_json%}

            {% if hotel_values.id == hotel_area.code%}

        {{hotel_area.name}}, {{hotel_area.city}},{{hotel_area.state}},{{hotel_area.country}}

            {%endif%}
        {%endfor%}
        </td>
    <td>
        {% for code in hotel_values.hotel_codes%}
        {% for hotel_amn in amenities%}

            {% if code == hotel_amn.code %}

        <li>{{hotel_amn.description}}</li>

            {%endif%}
            {%endfor%}
        {%endfor%}
        </td>
    <td>{{hotel_values.rating}}</td>
    <td>sub-total:{{hotel_values.sub_total}}<br>fee: {{hotel_values.fee}}<br>total:{{hotel_values.total}}
    <a href="{{hotel_values.link}}" target="_blank" style="color:blue">view deal</a></td>

    </tbody>
     {%endfor%}
    {%endif%}
</table>
          </div>
          </div>

        </div>

{% endblock %}
