


<head>
    <link href="../../static/css/glyphicons.css">
    <link href="../../static/css/mytrip.css">
    <link href="../../static/css/font-awesome.css">
    <link href="../../static/css/font-awesome.min.css">
    <link href="../../static/css/bootstrap.min.css">
</head>
{% extends "mytrip/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %}
        <br xmlns:align-content="http://www.w3.org/1999/xhtml" xmlns:align-content="http://www.w3.org/1999/xhtml"/>
    <!--<p>Your username and password didn't match. Please try again.</p>-->
    {% endif %}

    <section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
		        <h2 class="text-center">Sign-up Here</h2>
                <form method="post" action="{% url 'mytrip:register' %}">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ user_form|crispy  }}
                    </div>
                    <div class="form-check">
                        <button type="submit" class="btn btn-login">Create Account</button>
                    </div>
                </form>
            </div>
            	<div class="col-md-8 banner-sec">
 <div class="banner-text">
            <h2>Welcome to MyTripPlanner</h2>
                    <ul>
                        <li style="color: darkslateblue"><b>Plan</b></li>
                        <li style="color: darkslateblue"><b>Book</b></li>
                        <li style="color: darkslateblue"><b>Go</b></li>
                    </ul>
        </div>
                    <img class="d-block img-fluid" src="../../static/images/travel.gif" alt="First slide" width="100%" height="100%">


		</div>
                </div>
        </div>
</section>

{% endblock %}
